{% extends 'base.html' %}
{% block content %}
    <h2>About our clinic:</h2>
    <p> this is a dentist clinic. here you will find information about it and our contact info.</p>
    <h2>Our personnel:</h2>
    <table>
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>E-mail address</th>
                <th>Phone number</th>
            </tr>
        </thead>
        {% for item in object_list %}
            <tr>
                <td>{{ item.user.first_name }}</td>
                <td>{{ item.user.last_name }}</td>
                <td>{{ item.user.email }}</td>
                <td>{{ item.phone }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}