{% extends 'base.html' %}
{% block title %}List of appointments{% endblock %}
{% block content %}
    <h2>{{ header }}</h2>
    <table class="blueTable">
        {% for item in object_list %}
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Room</th>
                    <th>Doctor</th>
                    <th>Patient</th>
                    <th>Procedure</th>
                </tr>
            </thead>
            <tr>
                <td>{{ item.date }}</td>
                <td>{{ item.room.name }}</td>
                <td>{{ item.doctor.first_name }} {{ item.doctor.last_name }}</td>
                <td>{{ item.patient.first_name }} {{ item.patient.last_name }}</td>
                <td>{{ item.procedure.name }}</td>
                <td>
                    <a href="{% url 'appointment-update' item.pk %}" class="blueButton">Update</a>
                </td>
                <td>
                    <a href="{% url 'appointment-delete' item.pk %}" class="redButton">Delete</a>
                </td>
            </tr>
        {% endfor %}
        {% if is_paginated %}
            <tfoot>
                <tr>
                    <td>
                        <div class="links">
                                <span>
                                    {% if page_obj.has_previous %}
                                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}
                                    <span>
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>
                                    {% if page_obj.has_next %}
                                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                                    {% endif %}
                                </span>
                        </div>
                    </td>
                </tr>
            </tfoot>
        {% endif %}
    </table>
{% endblock %}