{% extends 'base.html' %}
{% block content %}
    <table>
        {% for item in object_list %}
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Room</td>
                    <td>Doctor</td>
                    <td>Procedure</td>
                </tr>
            </thead>
            <tr>
                <td>{{ item.date }}</td>
                <td>{{ item.room.name }}</td>
                <td>{{ item.doctor.first_name }} {{ item.doctor.last_name }}</td>
                <td>{{ item.procedure.name }}</td>
                <td>
                    <a href="{% url 'appointment-update' item.pk %}">Update</a>
                </td>
                <td>
                    <a href="{% url 'appointment-delete' item.pk %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}