{% extends 'base.html' %}
{% block title %}List of doctors{% endblock %}
{% block content %}
    <h2>List of doctors</h2>
    <table class="blueTable">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>E-mail address</th>
                <th>Phone number</th>
                <th>Address</th>
            </tr>
        </thead>
        {% for item in object_list %}
            <tr>
                <td>{{ item.user.first_name }}</td>
                <td>{{ item.user.last_name }}</td>
                <td>{{ item.user.email }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.address }}</td>
                <td>
                    <a href="{% url 'appointment-list-by-doctor' pk=item.user.pk %}" class="blueButton">Appointments</a>
                </td>
                <td>
                    <a href="{% url 'doctor-history-list' pk=item.user.pk %}" class="blueButton">History</a>
                </td>
            </tr>
        {% endfor %}
        {% if is_paginated %}
            <tfoot>
                <tr>
                    <td>
                        <div class="links">
                                <span>
                                    {% if page_obj.has_previous %}
                                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}
                                    <span>
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>
                                    {% if page_obj.has_next %}
                                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                                    {% endif %}
                                </span>
                        </div>
                    </td>
                </tr>
            </tfoot>
        {% endif %}
    </table>
{% endblock %}