{% extends 'base.html' %}
{% load auth_extras %}
{% block content %}
    <h2>{{ title }}</h2>
    <table>
        <thead>
            <tr>
                <th>Creation time</th>
                <th>Doctor</th>
                <th>Patient</th>
            </tr>
        </thead>
        {% for item in object_list %}
            <tr>
                <td>{{ item.creation_time}}</td>
                <td>{{ item.doctor.first_name }} {{ item.doctor.last_name }}</td>
                <td>{{ item.patient.first_name }} {{ item.patient.last_name }}</td>
                <td>
                    <a href="{% url 'patient-history-details' pk=item.pk %}">Details</a>
                </td>
                {% if request.user|has_group:"Doctor" %}
                    <td>
                        <a href="{% url 'patient-history-update' pk=item.pk %}">Update</a>
                    </td>
                    <td>
                        <a href="{% url 'patient-history-delete' pk=item.pk %}">Delete</a>
                    </td>

                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}