{% extends 'base.html' %}
{% block title %}Our services{% endblock %}
{% block content %}
    <h2>List and pricing of offered procedures</h2>
    <table class="blueTable">
        <tr>
            <th>Procedure</th>
            <th>Price</th>
        </tr>
        {% for item in object_list %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
            </tr>
        {% endfor %}
        {% if is_paginated %}
            <tfoot>
                <tr>
                    <td>
                        <div class="links">
                                <span>
                                    {% if page_obj.has_previous %}
                                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}
                                    <span>
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>
                                    {% if page_obj.has_next %}
                                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                                    {% endif %}
                                </span>
                        </div>
                    </td>
                </tr>
            </tfoot>
        {% endif %}
    </table>
{% endblock %}