{% load auth_extras %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>{% block title %}Dentist Clinic{% endblock %}</title>
</head>
<body>
    <header>
        <div class="container-fluid" id="header">
            <a href="{% url 'home' %}" class="myButton">Home page</a>
            <a href="{% url 'about-contact' %}" class="myButton">About/Contact</a>
            {% if not user.is_authenticated %}
                <div style="display: flex; justify-content: flex-end">
                    <a href="{% url 'login-user' %}" class="myButton">Log in</a>
                    <a href="{% url 'register-user' %}" class="myButton">Register</a>
                </div>
            {% else %}
                {% if request.user|has_group:"Doctor" %}
                    <a href="{% url 'appointment-list-by-doctor' user.pk %}" class="myButton">Appointments</a>
                    <a href="{% url 'register-user' %}" class="myButton">New Patient</a>
                    <a href="{% url 'patient-list' %}" class="myButton">Patients</a>
                    <a href="{% url 'doctor-list' %}" class="myButton">Doctors</a>
                    <a href="{% url 'room-list' %}" class="myButton">Rooms</a>
                    <a href="{% url 'doctor-history-list' user.pk %}" class="myButton">Patient histories</a>
                    <div style="display: flex; justify-content: flex-end">
                        <h6>Logged user: {{ user.first_name }} {{ user.last_name }}</h6>
                        <a href="{% url 'profile-user' %}" class="myButton">Your profile</a>
                        <a href="{% url 'logout-user' %}" class="myButton">Log out</a>
                    </div>
                {% elif request.user|has_group:"Patient" %}
                    <a href="{% url 'appointment-list-by-patient' user.pk %}" class="myButton">Appointments</a>
                    <a href="{% url 'appointment-form' user.pk %}" class="myButton">New Appointment</a>
                    <a href="{% url 'patient-history-list' user.pk %}" class="myButton">Patient history</a>
                    <div style="display: flex; justify-content: flex-end">
                        <h6>Logged user: {{ user.first_name }} {{ user.last_name }} </h6>
                        <a href="{% url 'profile-user' %}" class="myButton">Your profile</a>
                        <a href="{% url 'logout-user' %}" class="myButton">Log out</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </header>
    <div class="container-fluid" id="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="container-fluid" id="footer">
            <p><b>Aleksander P. Dentist Clinic 2021</b></p>
        </div>
    </footer>

</body>
</html>