{% load auth_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dentist Clinic</title>
</head>
<body>
    <header>
        <div>
            <a href="{% url 'home' %}">Home page</a>
            {% if not user.is_authenticated %}
                <a href="{% url 'login-user' %}">Log in</a>
                <a href="{% url 'register-user' %}">Register</a>
            {% else %}
                {% if request.user|has_group:"Doctor" %}
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    <a href="{% url 'appointment-list-by-doctor' user.pk %}">Appointments</a>
                    <a href="{% url 'register-user' %}">New Patient</a>
                    <a href="{% url 'patient-list' %}">Patients</a>
                    <a href="{% url 'doctor-list' %}">Doctors</a>
                    <a href="{% url 'room-list' %}">Rooms</a>
                    <a href="{% url 'doctor-history-list' user.pk %}">Patient histories</a>
                    <a href="{% url 'logout-user' %}">Log out</a>
                {% elif request.user|has_group:"Patient" %}
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    <a href="{% url 'appointment-list-by-patient' user.pk %}">Appointments</a>
                    <a href="{% url 'appointment-form' user.pk %}">New Appointment</a>
                    <a href="{% url 'patient-history-list' user.pk %}">Patient history</a>
                    <a href="{% url 'logout-user' %}">Log out</a>
                {% endif %}
            {% endif %}

        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>Aleksander P. Dentist Clinic 2021</p>
        <a href="{% url 'about-contact' %}">About us / Contact info</a>
    </footer>

</body>
</html>